APP_ENV=dev
APP_SECRET=changeme
DEFAULT_URI=http://localhost
DATABASE_URL="postgresql://user:password@localhost:5432/dbname?serverVersion=18&charset=utf8"
APP_SHARE_DIR=var/share
KERNEL_CLASS='App\Kernel'

###> symfony/mailer ###
MAILER_DSN=null://null
MAILER_FROM=example@example.com
###< symfony/mailer ###

###> lexik/jwt-authentication-bundle ###
JWT_SECRET_KEY=/path/to/private.pem
JWT_PUBLIC_KEY=/path/to/public.pem
JWT_PASSPHRASE=changeme
###< lexik/jwt-authentication-bundle ###

VAPID_SUBJECT=mailto:admin@example.com
VAPID_PUBLIC_KEY=changeme
VAPID_PRIVATE_KEY=changeme
