:root {
    --theme-color: #007bff;
}

html, body {
    overflow-x: hidden;
}

.profile-theme-text {
    color: var(--theme-color) !important;
}

.profile-theme-bg {
    background-color: var(--theme-color) !important;
    color: #fff !important;
}

.profile-theme-border {
    border-color: var(--theme-color) !important;
}

.profile-bg-container {
    height: 200px;
}

.profile-avatar {
    width: 120px;
    height: 120px;
    top: -60px;
    left: 20px;
    z-index: 1;
}

.btn-outline-primary {
    --bs-btn-color: var(--theme-color);
    --bs-btn-border-color: var(--theme-color);
    --bs-btn-hover-bg: var(--theme-color);
    --bs-btn-hover-border-color: var(--theme-color);
    --bs-btn-active-bg: var(--theme-color);
    --bs-btn-active-border-color: var(--theme-color);
    --bs-btn-disabled-color: var(--theme-color);
    --bs-btn-disabled-border-color: var(--theme-color);
}

.table-responsive-custom {
    max-width: 100%;
    overflow-x: auto;
    white-space: nowrap;
}
